shamefully-hoist=true
strict-peer-dependencies=false
node-options=--no-warnings --no-deprecation
registry=https://registry.npmmirror.com/
@types:registry=https://registry.npmmirror.com/
@nestjs:registry=https://registry.npmmirror.com/
@arco-design:registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
store-dir=.pnpm-store
