.clock {
  width: 100vw;
  height: 100vh;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.action {
  margin: 12px;
}

.record-button {
  margin: 12px;
  padding: 6px 10px;
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  background: var(--color-success);
  cursor: pointer;
}
