.sections {
  width: 100%;
  padding: 0 24px;
}

.section + .section {
  margin-top: 4px;
}

.sectionHeader {
  color: var(--sue-color-text-secondary);
}

.sectionTitle {
  margin: 0;
  color: var(--sue-color-text-secondary);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.empty {
  min-height: 240px;
  padding: 32px;
  color: var(--sue-color-text-tertiary);
  font-size: 13px;
}
