.header {
  height: 200px;
  color: var(--color-text-1);
  border-radius: 4px;
  position: relative;

  :global(.sue-avatar-trigger-icon-button) {
    color: rgb(var(--primary-6));

    :global(.sue-icon) {
      vertical-align: -1px;
    }
  }

  .username {
    font-weight: 500;
    font-size: 16px;
  }

  .user-msg {
    &-text {
      display: inline-block;
      margin-left: 6px;
    }
  }
}

.header::after {
  background: url('../assets/header-banner.png') no-repeat;
  background-size: 100%;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  content: ' ';
}

.header-content {
  position: relative;
  z-index: 2;
}

.wrapper {
  margin-top: 16px;
}

.list-meta-ellipsis {
  :global(.sue-list-item-meta-content) {
    width: 0;
    flex: 1;
  }
}
